@model PostalManagementMVC.Entities.LocationConnection

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* forma ne razor view per te krijuar lidhje vendodhjesh te re *@
<h1>Create</h1>

<h4>LocationConnection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model == null || Model.FromLocationId == 0)
            {
                <div class="form-group">
                    <label asp-for="FromLocationId" class="control-label"></label>
                    <select asp-for="FromLocationId" class="form-control" asp-items="ViewBag.LocationsList"></select>
                </div>
            }
            else
            {
                <input asp-for="FromLocationId" type="hidden" />
            }
            <div class="form-group">
                <label asp-for="ToLocationId" class="control-label"></label>
                <select asp-for="ToLocationId" class="form-control" asp-items="ViewBag.LocationsList"></select>
            </div>
            <div class="form-group">
                <label asp-for="OnDay" class="control-label"></label>
                <select asp-for="OnDay" class="form-control" asp-items="ViewBag.WeekDays"></select>
            </div>
            <div class="form-group">
                <label asp-for="TransportDays" class="control-label"></label>
                <input asp-for="TransportDays" class="form-control" min="0" max="1000" />
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" min="0" max="9999" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
